@font-face
{
    font-family: 'Proxima Nova';
    font-weight: 700;
    font-style: bold;

    src: url('../fonts/proximanovabold.woff2') format('woff2'),
    url('../fonts/proximanovabold.woff') format('woff');
}

@font-face
{
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/proximanovaregular.woff2') format('woff2'),
    url('../fonts/proximanovaregular.woff') format('woff');
}

@font-face
{
    font-family: 'Proxima Nova';
    font-weight: 600;
    font-style: normal;

    src: url('../fonts/proximanovasemibold.woff2') format('woff2'),
    url('../fonts/proximanovasemibold.woff') format('woff');
}

@font-face
{
    font-family: 'Din Condensed';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/dincondensedregular.woff2') format('woff2'),
    url('../fonts/dincondensedregular.woff') format('woff');
}
@font-face
{
    font-family: 'Din Condensed';
    font-weight: 600;
    font-style: normal;

    src: url('../fonts/dincondensedmedium.woff2') format('woff2'),
    url('../fonts/dincondensedmedium.woff') format('woff');
}
