.dogs-gallery
  .dogs-gallery__container
    img(src='img/dog-1.jpg', width='142', height='142', alt='Dog breed')
    img(src='img/dog-2.jpg', width='142', height='142', alt='Dog breed')
    img(src='img/dog-3.jpg', width='142', height='142', alt='Dog breed')
    img(src='img/dog-4.jpg', width='142', height='142', alt='Dog breed')
    img(src='img/dog-5.jpg', width='142', height='142', alt='Dog breed')
    img(src='img/dog-6.jpg', width='142', height='142', alt='Dog breed')
    img(src='img/dog-7.jpg', width='142', height='142', alt='Dog breed')
