.news-slider
  #carousel.owl-carousel.owl-theme
    section.news-slider__item
      img(src="img/slider-1.jpg", width="224", height="265", alt="Photo of a dog")
      .news-slider__block
        span.news-slider__tag Neue
        h2.news-slider__title Empfehlung
        a(href="#").btn.news-slider__btn Read now
    section.news-slider__item
      img(src="img/slider-2.jpg", width="224", height="265", alt="Photo of a dog")
      .news-slider__block
        span.news-slider__tag Neue
        h2.news-slider__title Empfehlung
        a(href="#").btn.news-slider__btn Read now
  .news-slider__controls.owl-controls
    button.news-slider__prev Previous slide
    button.news-slider__next Next slide
