section.news
  h2.news__title Aktuelles aus der Welt der Hunde
  .news__list

    article.news__item
      .news__item-image
        img(src="img/news-1.jpg", width="224", height="265", alt="Photo of a dog")
        .news__item-btns
          a(href="#").news__item-btn.news__item-btn--preview Preview
          a(href="#").news__item-btn.news__item-btn--more More
      a(href="#").news__item-tag Gewinnspiel
      h3.news__item-title Gewinnspiel:<br> Thermoplace-Körbchen
      time(datetime="2017-05-24").news__item-date 24.05.2017
    article.news__item
      .news__item-image
        img(src="img/news-2.jpg", width="224", height="265", alt="Photo of a dog")
        .news__item-btns
          a(href="#").news__item-btn.news__item-btn--preview Preview
          a(href="#").news__item-btn.news__item-btn--more More
      a(href="#").news__item-tag Gewinnspiel
      h3.news__item-title Gewinnspiel:<br> Thermoplace-Körbchen
      time(datetime="2017-05-24").news__item-date 24.05.2017
    article.news__item
      .news__item-image
        img(src="img/news-3.jpg", width="224", height="265", alt="Photo of a dog")
        .news__item-btns
          a(href="#").news__item-btn.news__item-btn--preview Preview
          a(href="#").news__item-btn.news__item-btn--more More
      a(href="#").news__item-tag Gewinnspiel
      h3.news__item-title Gewinnspiel:<br> Thermoplace-Körbchen
      time(datetime="2017-05-24").news__item-date 24.05.2017
    article.news__item
      .news__item-image
        img(src="img/news-4.jpg", width="224", height="265", alt="Photo of a dog")
        .news__item-btns
          a(href="#").news__item-btn.news__item-btn--preview Preview
          a(href="#").news__item-btn.news__item-btn--more More
      a(href="#").news__item-tag Gewinnspiel
      h3.news__item-title Gewinnspiel:<br> Thermoplace-Körbchen
      time(datetime="2017-05-24").news__item-date 24.05.2017
    article.news__item
      .news__item-image
        img(src="img/news-5.jpg", width="224", height="265", alt="Photo of a dog")
        .news__item-btns
          a(href="#").news__item-btn.news__item-btn--preview Preview
          a(href="#").news__item-btn.news__item-btn--more More
      a(href="#").news__item-tag Gewinnspiel
      h3.news__item-title Gewinnspiel:<br> Thermoplace-Körbchen
      time(datetime="2017-05-24").news__item-date 24.05.2017
    article.news__item
      .news__item-image
        img(src="img/news-6.jpg", width="224", height="265", alt="Photo of a dog")
        .news__item-btns
          a(href="#").news__item-btn.news__item-btn--preview Preview
          a(href="#").news__item-btn.news__item-btn--more More
      a(href="#").news__item-tag Gewinnspiel
      h3.news__item-title Gewinnspiel:<br> Thermoplace-Körbchen
      time(datetime="2017-05-24").news__item-date 24.05.2017
    article.news__item
      .news__item-image
        img(src="img/news-7.jpg", width="224", height="265", alt="Photo of a dog")
        .news__item-btns
          a(href="#").news__item-btn.news__item-btn--preview Preview
          a(href="#").news__item-btn.news__item-btn--more More
      a(href="#").news__item-tag Gewinnspiel
      h3.news__item-title Gewinnspiel:<br> Thermoplace-Körbchen
      time(datetime="2017-05-24").news__item-date 24.05.2017
    article.news__item
      .news__item-image
        img(src="img/news-8.jpg", width="224", height="265", alt="Photo of a dog")
        .news__item-btns
          a(href="#").news__item-btn.news__item-btn--preview Preview
          a(href="#").news__item-btn.news__item-btn--more More
      a(href="#").news__item-tag Gewinnspiel
      h3.news__item-title Gewinnspiel:<br> Thermoplace-Körbchen
      time(datetime="2017-05-24").news__item-date 24.05.2017
