header.page-header
  .page-header__top-header
    .page-header__container
      .top-nav
        a(href="about.html").top-nav__link About
        a(href="index.html").top-nav__link Home
      a.logo
        img(src="img/logo.png", width="196", height="64", alt="Huds")
      .page-header__sticker Best
        span.page-header__animal dogs
        span.page-header__year 2017
  .page-header__menu
    .page-header__container
      nav.main-nav
        ol.main-nav__list
          li.main-nav__item.main-nav__item--breeds: a(href="/breeds.html").main-nav__link.main-nav__link--breeds Hunderassen
          li.main-nav__item.main-nav__item--favorites: a(href="/favorites.html").main-nav__link.main-nav__link--favorites Favoriten
          li.main-nav__item.main-nav__item--shop: a(href="/shop.html").main-nav__link.main-nav__link--shop Magazin
          li.main-nav__item.main-nav__item--breeders: a(href="/breeders.html").main-nav__link.main-nav__link--breeders Zuchter
          li.main-nav__item.main-nav__item--societies: a(href="/societies.html").main-nav__link.main-nav__link--societies Vereine
