footer.page-footer
  .page-footer__container
    a.logo.logo--footer
      img(src="img/logo.png",  width="196" height="64", alt="Hund")
    ul.page-footer__menu
      li.page-footer__item
        a(href="contacts.html").page-footer__link Kontakt Impressum
      li.page-footer__item
        a(href="contacts.html").page-footer__link Dezidierter Bildnachweis Datenschutz
      li.page-footer__item
        a(href="contacts.html").page-footer__link Teilnahmebedingungen & Nutzungsrechte
