.promo
  section.post-promo
    .post-promo__slogan A dog will love your forever!
    p.post-promo__text Let true friendship into your life!
  section.newsletter
    h4.newsletter__title Newsletter
    p.newsletter__text Jetz anmelden & kein Gewinnspiel mehr  verpassen!
    a(href="#").newsletter__btn Subscribe
  section.post-new
    .post-new__image
      img(src="img/post-image.jpg", width="225", height="236", alt="Reader photo")
    .post-new__info
      h4.post-new__title Do you want puppies that are lovers or loners?
      a(href="#").post-new__btn Read now
  .post-meta
      .post-meta__shares Shares
        span 205
      .post-meta__likes Likes
        span 205
      .post-meta__readers
        a(href="#").post-meta__link
          img(src="img/reader-1.jpg", width="55", height="55", alt="Reader photo")
        a(href="#").post-meta__link
          img(src="img/reader-2.jpg", width="55", height="55", alt="Reader photo")
        a(href="#").post-meta__link
          img(src="img/reader-3.jpg", width="55", height="55", alt="Reader photo")
        a(href="#").post-meta__link
          img(src="img/reader-4.jpg", width="55", height="55", alt="Reader photo")
        a(href="#").post-meta__link
          img(src="img/reader-5.jpg", width="55", height="55", alt="Reader photo")
        a(href="#").post-meta__link
          img(src="img/reader-6.jpg", width="55", height="55", alt="Reader photo")
        a(href="#").post-meta__link
          img(src="img/reader-7.jpg", width="55", height="55", alt="Reader photo")
