.page-footer
  background-color #eef2f5
  padding 43px 0 61px

.page-footer__container
  width 1000px
  padding 0 10px
  margin 0 auto
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction row
  justify-content space-between

.page-footer__menu
  margin 0
  padding 0
  width 510px
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-between

.page-footer__item
  list-style none
  max-width 160px
  margin-right 15px

.page-footer__link
  display block
  color #838586
  font-size 14px
  line-height 18px
  text-decoration none
