.post-new
  width 468px
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction row
  justify-content space-between

.post-new__title
  margin-top 0
  margin-bottom 13px
  font-size 24px
  line-height 28px
  color #212121
  text-transform uppercase

.post-new__info
  background-color #fff7e8
  padding 16px 20px
  width 220px
  box-sizing border-box
  position relative

.post-new__info::before
  content ''
  display block
  position absolute
  top 44px
  left -16px
  width 0
  height 0
  border-top 13px solid transparent
  border-right 16px solid #fff7e8
  border-bottom 13px solid transparent

.post-new__btn
  display block
  text-align center
  width 106px
  max-width 180px
  padding 8px
  box-sizing border-box
  text-decoration none
  font-size 14px
  color #000000
  border 1px solid #e6a903
  font-weight 700

.post-new__image
  height 236px
  img
    width 100%
    height auto
