.post-promo
  width 220px
  margin-right 27px
  padding 5px
  box-sizing border-box

.post-promo__slogan
  font-size 34px
  line-height 38px
  text-transform uppercase
  margin 5px 0
  color #212121

.post-promo__text
  margin 0
  font-size 17px
  text-transform uppercase
  color #a6a6a6
