.subscribe
  width 968px
  padding 30px 40px 25px 70px
  box-sizing border-box
  margin 0 auto
  border-bottom 1px solid #e4e4e4
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-between
  align-items flex-start

.subscribe__text
  width 200px
  font-size 18px
  line-height 18px
  margin 0
  text-transform uppercase
  text-align center
  color #212121

.subscribe__form
  font-size 0

  input
    width 219px
    padding 10px 11px
    margin-right 9px
    box-sizing border-box
    border 1px solid  #cfcfcf
    font-size 14px
    &::-webkit-input-placeholder
      color #212121
    &:-ms-input-placeholder
      color #212121
    &::-ms-input-placeholder
      color #212121
    &:-moz-placeholder
      opacity 1
      color #212121
    &::-moz-placeholder
      opacity 1
      color: #212121
    &::placeholder
      text-transform uppercase
      opacity 1
      color #212121
  button
    width 151px
    box-sizing border-box
    padding 12px 10px
    font-size 14px
    font-weight 600
    border 0
    background-color #e8c907
    color #ffffff
    text-align center
    text-transform uppercase
    cursor pointer
