.top-nav
  width 191px
  font-family 'Din Condensed', 'Arial', sans-serif
  font-weight 700
  margin-right 32px

.top-nav__link
  text-decoration none
  color #ffffff
  text-transform uppercase
  background-color #000000
