doctype html
html
  head(lang="en")
    title Huds
    include blocks/_head

  body
    include blocks/page-header
    include blocks/news-slider
    include blocks/subscribe
    include blocks/news
    include blocks/promo
    include blocks/page-footer
    include blocks/dogs-gallery

    a(href="#").btn-scroll-top Up

    include blocks/_scripts
